<a href="https://colab.research.google.com/github/etappau/Images/blob/master/Paul_Homework1(a).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget http://www.gutenberg.org/files/11/11-0.txt

--2019-09-02 07:42:19--  http://www.gutenberg.org/files/11/11-0.txt
Resolving www.gutenberg.org (www.gutenberg.org)... 152.19.134.47, 2610:28:3090:3000:0:bad:cafe:47
Connecting to www.gutenberg.org (www.gutenberg.org)|152.19.134.47|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 173595 (170K) [text/plain]
Saving to: ‘11-0.txt’

11-0.txt            100%[===================>] 169.53K   391KB/s    in 0.4s

2019-09-02 07:42:20 (391 KB/s) - ‘11-0.txt’ saved [173595/173595]

In [0]:
!less -N 11-0.txt

In [0]:
!cat -n 11-0.txt

In [0]:
!tail -365 11-0.txt

*You can negate this operation and can delete lines that are not in the specified range.*

In [0]:
!sed -i '41,3370!d' 11-0.txt

In [3]:
!head 11-0.txt

CHAPTER I. Down the Rabbit-Hole

Alice was beginning to get very tired of sitting by her sister on the
bank, and of having nothing to do: once or twice she had peeped into the
book her sister was reading, but it had no pictures or conversations in
it, ‘and what is the use of a book,’ thought Alice ‘without pictures or
conversations?’

So she was considering in her own mind (as well as she could, for the
hot day made her feel very sleepy and stupid), whether the pleasure

In [4]:
!tail 11-0.txt

Lastly, she pictured to herself how this same little sister of hers
would, in the after-time, be herself a grown woman; and how she would
keep, through all her riper years, the simple and loving heart of her
childhood: and how she would gather about her other little children, and
make THEIR eyes bright and eager with many a strange tale, perhaps even
with the dream of Wonderland of long ago: and how she would feel with
all their simple sorrows, and find a pleasure in all their simple joys,
remembering her own child-life, and the happy summer days.

              THE END

In [5]:
!wc 11-0.txt

  3330  26438 153644 11-0.txt

[3330 lines  26438 words  153644 characters]

In [0]:
!iconv -c 11-0.txt | less

In [0]:
!hexdump -c 11-0.txt | less

In [0]:
!tr -cd '\11\12\15\40-\176' < 11-0.txt > clean.txt

All the other binary characters — the “garbage” characters in your file — are stripped out during this translation process.
octal 11: tab
octal 12: linefeed
octal 15: carriage return
octal 40 through octal 176: all the "good" keyboard characters

In [0]:
!hexdump -c clean4.txt | less

In [0]:
!tr '\n' ' ' < clean.txt > clean1.txt

In [0]:
!tr '\r ' ' ' < clean1.txt > clean2.txt

In [0]:
!sed 's/[  ]\{2,\}/ /g' clean2.txt > clean3.txt

In [0]:
!sed -r '/^\s*$/d' clean3.txt > clean4.txt

In [0]:
!more clean4.txt

*In order to check words in a first for validity, what we can do is download another file and take that as a reference dictionary and then compare the results.*

The set complement operation finds elements that are in one set but not the other. We write A - B or A \ B to denote set's B complement in set A.

In [39]:
!sort out1.txt out1.txt stopword.txt | uniq -u | head -5

a
about
above
after
again

In [46]:
!grep -vxF -f out1.txt stopword.txt | sort -n | head -5

a
about
above
after
again

*Frequncy* of unique words

In [47]:
!sed 's/^\012//' clean4.txt | sed 's/[0-9]*//g' |tr '[A-Z]' '[a-z]' | grep -o -E '\w+' |sort -f | uniq -c | sort -n -r | head -5

   1643 the
    872 and
    729 to
    632 a
    541 she

Substitute all non alphanumeric characters with a blank space.
All line breaks are converted to spaces also.
Reduces all multiple blank spaces to one blank space
All spaces are now converted to line breaks. Each word in a line.
Translates all words to lower case to avoid 'Hello' and 'hello' to be different words
Sorts de text
Counts and remove the equal lines
Sorts reverse in order to count the most frequent words
Add a line number to each word in order to know the word posotion in the whole

In [48]:
!sed -e 's/[^[:alpha:]]/ /g' clean4.txt | tr '\n' " " |  tr -s " " | tr " " '\n'| tr 'A-Z' 'a-z' | sort | uniq -c | sort -nr | nl | head -n 5

     1	   1643 the
     2	    872 and
     3	    729 to
     4	    632 a
     5	    541 she

In [49]:
!cat clean4.txt | tr -cs A-Za-z '\n' | tr A-Z a-z | sort | uniq -c | sort -rn | sed 5q

   1643 the
    872 and
    729 to
    632 a
    541 she

*Distinct words with exactly 14 letters*

In [0]:
!sed 's/^\012//' clean4.txt | sed 's/[0-9]*//g' |tr '[A-Z]' '[a-z]' | grep -o -E '\w+' |sort -f | uniq -c | sort -n -r | fgrep -vwf stopword.txt > out1.txt

In [0]:
!more out1.txt

In [25]:
!tr ' ' '\n' < out1.txt | grep '^.\{14\}$'

contemptuously
multiplication
disappointment
affectionately

*find all occurences of word with frquency n*

In [36]:
!cat clean4.txt | tr -cs A-Za-z '\n' | tr A-Z a-z | sort | uniq -c | sort -rn | awk '$1 == 1643 {print $2}' | head -20

the